@import url('https://fonts.googleapis.com/css?family=Roboto');

/* use reset here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: white;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

/* background images */
.slide:first-child{
  background: url('./images/img01.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
  background: url('./images/img02.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
  background: url('./images/img03.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
  background: url('./images/img04.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
  background: url('./images/img05.jpg') no-repeat center top/cover;
}
